:root {
  --base-font-size: 16;
  --px-to-rem: calc(1rem / var(--base-font-size) * 1);
  --px-10: calc(10 * var(--px-to-rem));
  --px-20: calc(20 * var(--px-to-rem));
  --px-30: calc(30 * var(--px-to-rem));
  --px-40: calc(40 * var(--px-to-rem));
  --px-50: calc(50 * var(--px-to-rem));
  --px-60: calc(60 * var(--px-to-rem));
  --px-70: calc(70 * var(--px-to-rem));
  --px-80: calc(80 * var(--px-to-rem));
  --px-90: calc(90 * var(--px-to-rem));
  --px-100: calc(100 * var(--px-to-rem));
  --grid-gap: 1rem;
}

html {
  font-size: var(--base-font-size);
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #000000;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  color: red;
}

.logo {
  margin: 1rem 0;
  letter-spacing: calc(22 * var(--px-to-rem));
  font-size: 2rem;
  font-weight: bold;
}

nav {
  margin-bottom: 2rem;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 0 1rem;
}

nav a {
  text-decoration: none;
  color: red;
  font-size: 1rem;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: var(--px-80);
  /* margin: var(--px-80) 0; */
  margin: 0;
  border-top: solid 10px red;
  background-image: url('/images/BG/BG_dark-gray-brick-LSD.png');
  background-repeat: repeat;
}

section:first-child {
  margin-top: 0;
}

section h1 {
  width: 100%;
  text-align: center;
  font-size: var(--px-60);
  color: white;
}

section h1:first-child {
  margin-top: 0;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--grid-gap);
}

.grid__cell {
  display: block;
  width: calc(33.33333% - 1rem);
  height: calc(33.33333% - 1rem);
  padding: 10px;
  border-radius: 0.5rem;
  background-color: #000000;
}

.grid__thumb img {
  width: 100%;
}

.grid__metadata {
  font-size: 1rem;
  color: #ffffff;
}

.lookatme {
  transition: transform 0.1s ease-out;
  transform-style: preserve-3d;
  perspective: 1000px;
  box-sizing: border-box;
}

.bg-dark {
  background-color: rgb(24, 4, 4);
  color: rgb(179, 179, 179);
}

.active a {
  color: white;
}

footer {
  padding: var(--px-40);
  color: rgb(116, 116, 116);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .grid__cell {
    width: calc(50% - 1rem);
  }
}

@media (max-width: 480px) {
  .grid__cell {
    width: 100%;
  }
}